// Layout
.w-fit-content {
  width: fit-content;
}

// Typography
.text-justify {
  text-align: justify;
}

.ff-secondary {
  font-family: $body-secondary-font;
}

.ff-syne {
  font-family: $syne-font;
}

.ff-syncopate {
  font-family: $syncopate-font;
}

// Colors
.main-text {
  color: #011b69 !important;
}

.main-bg {
  color: white;
  background-color: #011b69 !important;
}