// Fonts
$body-primary-font: "Open Sans", sans-serif;
$body-secondary-font: "Poppins", sans-serif;
$syne-font: "Syne", sans-serif;
$syncopate-font: "Syncopate", sans-serif;
// Weights
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// Main
$trans-duration: 0.3s;

// Colors
$primary-color: #011b69;
$secondary-color: #1f0045;
$glaucous: #507dbc;
$carrbiean-current: #0c6876;
$marian-blue: #1c4386;
$fulvous: #DA8917;

// Social
$github: black;
$youtube: #f20000;
$discord: #6c82cf;
$twitter: #28a0d5;
$facebook: #1771e6;
$linkedin: #0077b5;
$instagram: #5865f2;